@import url(./satoshi.css);
@import url(./helvetica.css);

html {
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
  .inicio {
    width: 1192px;
    height: 1051px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 5%;
    animation: 1s ease-out 0s 1 slideInFromUp;
    /* animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 150px;
    animation-range-end: 600px; */
  }
}

@media (min-width: 768px) {
  .inicio {
    width: 1192px;
    height: 1051px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 5%;
    animation: 1s ease-out 0s 1 slideInFromUp;
    /* animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 150px;
    animation-range-end: 600px; */
  }
}

@media (min-width: 992px) {
  .inicio {
    width: 100%;
    height: 1051px;
    background-color: #ffffff;
    overflow: hidden;
    padding: 1%;
    animation: 1s ease-out 0s 1 slideInFromUp;
    /* animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 150px;
    animation-range-end: 600px; */
  }
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.inicio .container {
  z-index: 99;
}

@keyframes fade-in {
  from {
    scale: 100%;
    opacity: 1;
  }
  to {
    scale: 110%;
    opacity: 1;
  }
}

.inicio .overlap {
  position: relative;
  width: 100%;
  height: 1409px;
}

.inicio .overlap-group {
  position: absolute;
  width: 100%;
  height: 1409px;
}

.inicio .image {
  position: absolute;
  width: 536px;
  height: 1031px;
  top: 83px;
  left: 804px;
  object-fit: cover;
}

@media (min-width: 576px) {
  .logo-sapisa-mesa-de {
    display: none;
    position: relative;
    width: 150px;
    height: 150px;
    /* top: 78px; */
    /* top: 3%;*/
    left: 25%;
    /* float: left; */
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .logo-sapisa-mesa-de {
    display: none;
    position: relative;
    width: 150px;
    height: 150px;
    /* top: 78px; */
    /* top: 3%;*/
    left: 25%;
    /* float: left; */
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .logo-sapisa-mesa-de {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    /* top: 78px; */
    /* top: 3%;*/
    left: 25%;
    /* float: left; */
    object-fit: cover;
  }
}

.inicio .div {
  position: absolute;
  width: 1262px;
  height: 975px;
  top: 179px;
  left: 131px;
  background-color: #35363d33;
  transform: rotate(19deg);
}

.inicio .somos-distribuidores {
  position: absolute;
  width: 793px;
  height: 316px;
  /* top: 396px; */
  top: 25%;
  left: 3%;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 80px;
  letter-spacing: -3%;
  line-height: 99%;
}

.inicio .text-wrapper {
  color: #21afe5;
  letter-spacing: -1.92px;
}

.inicio .span {
  color: #35363d;
  letter-spacing: -1.92px;
}

.inicio .abrasivos-productos {
  position: absolute;
  width: 758px;
  height: 150px;
  top: 745px;
  /* left: 13px; */
  left: 3%;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 400;
  color: #7e8492;
  font-size: 25px;
  letter-spacing: 0%;
  line-height: 30px;
  /* padding-top: 5%; */
}

.inicio .text-wrapper-2 {
  font-weight: 700;
}

.inicio .text-wrapper-3 {
  font-family: "Satoshi-Medium", Helvetica;
  font-weight: 500;
}

.inicio .rectangle {
  position: absolute;
  width: 277px;
  height: 329px;
  top: 970px;
  z-index: 99;
  left: 75%;
  background-color: #ffffff80;
  border-radius: 32px;
  transform: rotate(-15deg);
  backdrop-filter: blur(52px) brightness(100%);
  -webkit-backdrop-filter: blur(52px) brightness(100%);
}

.button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: fit-content;
  height: 56px;
  font-size: 14px;
  align-items: flex-end;
  position: relative;
  /* float: right;
  right: 0; */
  left: 15%;
  /* top: 50px; */
  border-radius: 110px;
  color: #ffffff;
  z-index: 1;
}

.button a {
  color: #ffffff;
}

.button a:hover {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .button-base {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 20px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: #0a9edb;
    border-radius: 82px;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .button-base {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 20px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-color: #0a9edb;
    border-radius: 82px;
    overflow: hidden;
  }
}

/* .inicio .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  flex: 1;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
} */

.inicio .ellipse {
  position: absolute;
  width: 621px;
  height: 453px;
  top: 102px;
  left: 739px;
}

.inicio .arrow-down-sign-to {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 566px;
  left: 1265px;
  object-fit: cover;
}

.inicio .group {
  position: absolute;
  width: 474.21px;
  height: 48px;
  /* top: 109px;
  left: 206px; */
  top: 5%;
  left: 15%;
  align-items: center;
  margin-bottom: 3%;
  z-index: 1;
}

.inicio .overlap-group-2 {
  position: relative;
  height: 48px;
  z-index: 1;
}

.inicio .rectangle-2 {
  position: absolute;
  width: 470px;
  height: 48px;
  top: 2%;
  bottom: 5%;
  left: 4px;
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid;
  border-color: #ffffff14;
}

.fixed-top {
  top: 50px;
}

@media (min-width: 576px) {
  .navbar {
    display: flex;
    /* width: 100%;
    height: 100px; */
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    /* background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid;
    border-color: #ffffff14;
    text-align: center;
    font-size: 30px; */
  }
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    /* width: 100%;
    height: 100px; */
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    /* background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid;
    border-color: #ffffff14;
    text-align: center;
    font-size: 30px; */
  }
}

@media (min-width: 992px) {
  .navbar {
    display: flex;
    width: 100%;
    /* height: 48px !important; */
    /* top: 50px !important; */
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    font-size: large;
    /* position: absolute;
    top: 4px;
    left: 0;
    bottom: 4px; */
    padding: 0 !important;
    z-index: 1;
    background-color: rgba(241, 241, 241, .7);
  }
}

@media (min-width: 576px) {
  .navbar-nav {
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid !important;
    border-color: #ffffff14 !important;
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid !important;
    border-color: #ffffff14 !important;
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid !important;
    border-color: #ffffff14 !important;
    font-size: 18px;
  }
}

.dropdown-menu {
  border-radius: 40px !important;
  padding: 15px !important;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.nav-item {
  align-self: center;
  text-align: center;
}

.dropdown-item:hover {
  color: #ffffff !important;
  background-color: #21afe5 !important;
  border-radius: 45px;
}

.nav-item:hover {
  background-color: #21afe5;
  border-radius: 45px;
}

.nav-item:active {
  background-color: #21afe5;
  border-radius: 45px;
  color: #ffffff !important;
}

.nav-link:hover {
  color: #ffffff !important;
  background-color: #21afe5;
  border-radius: 45px;
}

.nav-link:active {
  color: #ffffff !important;
  border-radius: 45px;
}

.collapse {
  z-index: 1;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 2.3rem !important;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

@media (min-width: 576px) {
  .frame-wrapper {
    position: relative;
    width: 451px;
    height: 45px;
    background-color: #21afe5;
    border-radius: 100px;
    border: 1px solid;
    border-color: #ffffff14;
    align-items: center;
    float: inline-start;
  }
}

@media (min-width: 768px) {
  .frame-wrapper {
    position: relative;
    width: 451px;
    height: 45px;
    background-color: #21afe5;
    border-radius: 100px;
    border: 1px solid;
    border-color: #ffffff14;
    align-items: center;
    float: inline-start;
  }
}

@media (min-width: 992px) {
  .frame-wrapper {
    position: relative;
    width: 96px;
    height: 45px;
    background-color: #21afe5;
    border-radius: 100px;
    border: 1px solid;
    border-color: #ffffff14;
    align-items: center;
    float: inline-start;
  }
}

.frame {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 10%;
  left: 5%;
  /* background-color: #21afe5; */
}

.icon-line-home-alt {
  position: relative;
  width: 20px;
  height: 20px;
}

@media (min-width: 576px) {
  .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 17.6px;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 17.6px;
    white-space: nowrap;
  }
}

@media (min-width: 992px) {
  .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Helvetica-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17.6px;
    white-space: nowrap;
  }
}

@media (min-width: 576px) {
  .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Helvetica-Light", Helvetica;
    font-weight: 400;
    color: #35363d;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 17.6px;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Helvetica-Light", Helvetica;
    font-weight: 400;
    color: #35363d;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 17.6px;
    white-space: nowrap;
    margin: 15px;
  }
}

@media (min-width: 992px) {
  .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Helvetica-Light", Helvetica;
    font-weight: 400;
    color: #35363d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 17.6px;
    white-space: nowrap;
    margin: 0;
  }
}

@media (min-width: 576px) {
  #carousel-main {
    display: none;
    position: absolute;
    width: 536px;
    height: 1000px;
    right: 0;
    top: 0;
    align-items: flex-end;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  #carousel-main {
    display: none;
    position: absolute;
    width: 536px;
    height: 1000px;
    right: 0;
    top: 0;
    align-items: flex-end;
    border-radius: 20px;
  }
}

@media (min-width: 992px) {
  #carousel-main {
    position: absolute;
    display: block;
    width: 536px;
    height: 1000px;
    right: 0;
    top: 0;
    align-items: flex-end;
    border-radius: 20px;
  }
}

@media (min-width: 576px) {
  .nuestros-sectores {
    background-color: #ffffff;
    border-radius: 40px;
    position: relative;
    padding: 5%;
    width: 100%;
    left: 15%;
    margin-top: 3%;
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@media (min-width: 768px) {
  .nuestros-sectores {
    position: relative;
    width: 90%;
    /* height: 906px; */
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    float: right;
    left: 15%;
    margin-right: 5%;
    margin-top: 3%;
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@media (min-width: 992px) {
  .nuestros-sectores {
    position: relative;
    width: 90%;
    /* height: 906px; */
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    float: right;
    left: 0;
    margin-right: 5%;
    margin-top: 3%;
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

/* @media (min-width: 768px) {
  .nuestros-sectores .col {
    animation-timeline: view();
    animation-range-start: 7px;
    animation-range-end: 400px;
  }
} */

@media (min-width: 992px) {
  .nuestros-sectores .col {
    animation-timeline: view();
    animation-range-start: 7px;
    animation-range-end: 400px;
  }
}

.nuestros-sectores .div {
  /* position: absolute; */
  width: auto;
  top: 45px;
  /* left: 423px; */
  font-family: "Satoshi-Medium";
  font-weight: 700;
  color: transparent;
  font-size: 56px;
  letter-spacing: -1.12px;
  line-height: 67.2px;
}

.nuestros-sectores .text-wrapper {
  color: #003034;
  letter-spacing: -2%;
  line-height: 120%;
}

.nuestros-sectores .span {
  color: #1dade4;
  letter-spacing: -0.63px;
}

@media (min-width: 768px) {
  .nuestros-sectores .group {
    /* position: absolute; */
    width: 690px;
    height: 73px;
    background-color: #16abe4;
    border-radius: 100px;
    align-content: center;
    transition: all 0.5s ease;
  }
}

@media (min-width: 992px) {
  .nuestros-sectores .group {
    /* position: absolute; */
    width: 195px;
    height: 73px;
    background-color: #16abe4;
    border-radius: 100px;
    align-content: center;
    transition: all 0.5s ease;
  }
}

.nuestros-sectores .group::before {
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(0, 255, 255, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.nuestros-sectores .group:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #16abe4;
}

.nuestros-sectores .group:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

@media (min-width: 768px) {
  .nuestros-sectores .div-wrapper {
    /* position: relative; */
    width: fit-content;
    height: fit-content;
    display: contents;
  }
}

@media (min-width: 992px) {
  .nuestros-sectores .div-wrapper {
    /* position: relative; */
    width: 195px;
    height: 48px;
    display: block;
  }
}

@media (min-width: 768px) {
  .nuestros-sectores .p {
    position: relative;
    width: 100%;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 24px;
  }
}

@media (min-width: 992px) {
  .nuestros-sectores .p {
    position: absolute;
    width: 195px;
    /* top: 0;
  left: 0; */
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 24px;
  }
}

.nuestros-sectores .text-wrapper-2 {
  letter-spacing: -0.08px;
}

.nuestros-sectores .text-wrapper-3 {
  /* position: absolute;
  width: 493px;
  top: 127px;
  left: 473px; */
  font-family: "Helvetica-Bold", Helvetica;
  font-weight: 700;
  color: #35363d;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
}

.nuestros-sectores a {
  text-decoration: none;
  color: #ffffff;
}

.nuestros-sectores:hover a {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 768px) {
  .nuestros-sectores .group-8 {
    margin: 15px;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

@media (min-width: 992px) {
  .nuestros-sectores .group-8 {
    margin: 15px;
    width: fit-content;
  }
}

@media (min-width: 576px) {
  .nuestros-sectores .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .nuestros-sectores .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .nuestros-sectores .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .nuestros-sectores .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 992px) {
  .nuestros-sectores .img {
    width: 100%;
    height: 100%;
  }
}

/*Acerca de nosotros*/
/* :root {
  --text-rgb-53-54-61: rgba(53, 54, 61, 1);
  --text-rgb-126-132-146: rgba(126, 132, 146, 1);
} */

.text-rgb-53-54-61 {
  color: var(--text-rgb-53-54-61);
}

.text-rgb-126-132-146 {
  color: #7e8492;
}

/* CSS Reset */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
} */

.img4077186_17580-1-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 48, 52, 1);
  mix-blend-mode: color_burn;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .text-7 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: "Satoshi-Bold";
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-53-54-61);
  }
}

@media (min-width: 992px) {
  .text-7 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-family: "Satoshi-Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    text-transform: none;
    color: var(--text-rgb-53-54-61);
  }
}

.frame-129-5 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(33, 175, 229, 1);
  border-radius: 50px;
  padding: 5%;
  width: 480px;
}

.group-130-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 50%;
}

.text-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Medium";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 7%;
  line-height: 129.99999523162842%;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-rgb-53-54-61);
  margin: 0;
}

@media (min-width: 768px) {
  .frame-1707480507-9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding: 6px 16px 6px 16px; */
    width: 210px;
    height: 38px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(215, 215, 216, 1);
    border-radius: 98px;
  }
}

@media (min-width: 992px) {
  .frame-1707480507-9 {
    display: flex;
    position: relative;
    left: 310%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding: 6px 16px 6px 16px; */
    width: 210px;
    height: 38px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(215, 215, 216, 1);
    border-radius: 98px;
  }
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Bold";
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -2px;
  line-height: 100%;
  text-decoration: none;
  color: var(--text-rgb-53-54-61);
}

.text-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-126-132-146);
}

.frame-1707482231-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Bold";
  font-weight: 700;
  font-size: 100px;
  letter-spacing: -2px;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-53-54-61);
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-126-132-146);
}

.frame-33853-16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.icon-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 175, 229, 1);
  border: none;
  outline: none;
}

.icon-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 175, 229, 1);
  border: none;
  outline: none;
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Bold";
  font-weight: 700;
  font-size: 100px;
  letter-spacing: -2px;
  line-height: 120%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-53-54-61);
}

.frame-33892-20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-126-132-146);
}

@media (min-width: 576px) {
  .frame-1707482230-15 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .frame-1707482230-15 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 41px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .frame-1707482230-15 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 41px;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .frame-1707482232-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .frame-1707482232-11 {
    .frame-1707482232-11 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0px;
      flex-grow: 0;
      flex-shrink: 1;
      width: 100%;
    }
  }
}

.frame-1707483736-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 41px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 45.95375722543353%;
}

.frame-1707482233-3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  /* margin-right: 5%; */
}

.frame-1707482234-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 80px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: rgba(215, 215, 216, 0.6);
  border-radius: 80px;
}

@media (min-width: 768px) {
  .acerca-de-nosotros-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    gap: 10px;
    left: 15%;
    margin-top: 2%;
    /* padding: 80px; */
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(255, 255, 255, 1);
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@media (min-width: 768px) {
  .acerca-de-nosotros-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    gap: 10px;
    left: 15%;
    margin-top: 2%;
    /* padding: 80px; */
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(255, 255, 255, 1);
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@media (min-width: 992px) {
  .acerca-de-nosotros-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 40px;
    width: 90%;
    float: right;
    left: 0;
    margin-right: 5%;
    margin-top: 3%;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@keyframes fade-in {
  from {
    scale: 90%;
    opacity: 0;
  }
  to {
    scale: 100%;
    opacity: 1;
  }
}

/*Marcas destacadas*/
:root {
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-22-171-228: rgba(22, 171, 228, 1);
}

.text-white {
  color: var(--text-white);
}

.text-rgb-22-171-228 {
  color: var(--text-rgb-22-171-228);
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Bold";
  font-weight: 500;
  font-size: 56;
}

.text-4-md {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Bold";
  font-weight: 700;
  font-size: 64px;
  line-height: 108.00000429153442%;
  text-decoration: none;
  color: var(--text-white);
}

.text-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.699999988079071;
  font-family: "Helvetica-Light";
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  color: var(--text-white);
}

.frame-1707481726-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.frame-1707481727-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: auto;
}

.text-8-md {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-medium";
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.button-base-7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 14px 20px 14px 20px;
  gap: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 166px;
  height: 56px;
  background-color: rgba(10, 158, 219, 1);
  border-radius: 82px;
  text-align: center;
}

.button-6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  border-radius: 110px;
  margin: 3%;
}

.button-6 a:hover {
  text-decoration: none;
}

.ellipse-4-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.699999988079071;
  border: none;
  outline: none;
  left: 0;
  top: 10%;
  position: absolute;
}

.ellipse-5-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.699999988079071;
  border: none;
  outline: none;
  bottom: 25%;
  right: 0;
  position: absolute;
}

/* .bosch-simple-01-1-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 220.01px;
  height: 47px;
  width: 100%;
  height: auto;
  margin: 5%;
}

.dewalt {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.abrasive-solutions-1-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.dynabrade {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.hermes {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.infra-logo-01-1-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.meguiar-s-1-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.norton {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.ppg_logo-svg-01-1-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.roberlo {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.logo-hvh-1-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
}

.cinasa {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
  margin: 5%;
} */

.logo {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  /* margin: 15%; */
  gap: 10px;
  /* width: 100%; */
}

@media (min-width: 768px) {
  .frame-1707483742-12 .col {
    height: 146px !important;
    width: 100%;
  }
}

.frame-1707483742-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.frame-1707483742-12 .row {
  width: 100%;
}

.frame-1707483742-12 .row .col {
  width: 249.5px;
}

.group-1171275580-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

.specialtylogo-01-1-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  /* width: 100%;
  height: auto; */
  margin: 15%;
  gap: 10px;
}

.imagen2-01-1-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  /* width: 100%;
  height: auto; */
  margin: 15%;
  gap: 10px;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.col {
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

@media (min-width: 576px) {
  .marcas-destacadas-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(53, 54, 61, 1);
    border-radius: 40px;
    padding: 5%;
    width: 100%;
    margin-top: 3%;
    text-align: center;
    left: 15%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@media (min-width: 768px) {
  .marcas-destacadas-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(53, 54, 61, 1);
    border-radius: 40px;
    padding: 5%;
    width: 100%;
    margin-top: 3%;
    text-align: center;
    left: 15%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@media (min-width: 992px) {
  .marcas-destacadas-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: rgba(53, 54, 61, 1);
    border-radius: 40px;
    padding: 5%;
    width: 90%;
    float: right;
    left: 0;
    margin-right: 5%;
    margin-top: 3%;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    /* @media (max-width: 1440px) {
      .marcas-destacadas-1 {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
    @media (max-width: 768px) {
      .marcas-destacadas-1 {
        padding-left: 16px;
        padding-right: 16px;
      }
    } */
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@keyframes fade-in {
  from {
    scale: 90%;
    opacity: 0;
  }
  to {
    scale: 100%;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .marcas-destacadas-1 .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .marcas-destacadas-1 .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
  }
}

/*Pie de Página*/
:root {
  --font-family-inter: "Inter", sans-serif;
  --text-rgb-22-171-228: rgba(22, 171, 228, 1);
  --text-rgb-0-48-52: rgba(0, 48, 52, 1);
  --text-rgb-53-54-61: rgba(53, 54, 61, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-33-175-229: rgba(33, 175, 229, 1);
}

.text-rgb-22-171-228 {
  color: var(--text-rgb-22-171-228);
}

.text-rgb-0-48-52 {
  color: var(--text-rgb-0-48-52);
}

.text-rgb-53-54-61 {
  color: var(--text-rgb-53-54-61);
}

.text-white {
  color: var(--text-white);
}

.cotizaciones {
  color: var(--text-rgb-33-175-229);
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Medium";
  font-weight: 400;
  font-size: 17px;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.text-rgb-22-171-228

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.section-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: "Satoshi-Bold";
  font-weight: 500;
  font-size: 46px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-22-171-228);
}

.frame-33905-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.bg-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 88.28451538085938px;
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 110.00000238418579%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-48-52);
}

.form-subscribe-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.bg-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 88.28451538085938px;
}

.text-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 110.00000238418579%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-48-52);
}

.form-subscribe-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.bg-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 88.28451538085938px;
}

.text-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 110.00000238418579%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-48-52);
}

.form-subscribe-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.bg-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(241, 241, 241, 1);
  border-radius: 31px;
}

.text-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000238418579%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
  background-color: #16abe4;
  border: none;
}

.node-17 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 8.828452110290527px;
  padding: 14.125184059143066px 28.25104522705078px 14.125184059143066px 28.25104522705078px; */
  flex-grow: 0;
  flex-shrink: 1;
  width: 150px;
  height: 50px;
  background-color: rgba(22, 171, 228, 1);
  border-radius: 88.28451538085938px;
  position: absolute;
  bottom: 17px;
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 110.00000238418579%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-48-52);
}

.form-subscribe-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-1171275579-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  /* margin: 5%; */
}

.image-588255080-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.youtube-21 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  /* padding: 12px; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(0, 48, 52, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.vector-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 48, 52, 1);
  border: none;
  outline: none;
}

.ri-instagram-fill-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.instagram-23 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  /* padding: 12px; */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(0, 48, 52, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.social-media-20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-satoshi);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-53-54-61);
  margin-top: 5%;
  justify-items: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.infoContacto {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-satoshi);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -2%;
  line-height: 120.00000476837158%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-53-54-61);
  margin: 0% -5%;
}

.frame-1707483743-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.image-588255079-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-satoshi);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -2%;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-53-54-61);
  width: 315px;
  margin: 0;
}

.text-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-satoshi);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -2%;
  line-height: 120%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-53-54-61);
}

.text-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000238418579%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
  margin: 2% 0%;
  text-align: left;
}

.text-33 a:hover {
  text-decoration: none;
}

.node-32 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 8.828452110290527px; */
  /* padding: 4%; */
  flex-grow: 0;
  flex-shrink: 1;
  width: 240px;
  height: 51px;
  background-color: rgba(22, 171, 228, 1);
  border-radius: 88.28451538085938px;
}

.text-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000238418579%;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
  margin: 2% 0%;
  text-align: left;
}

.text-35 a:hover {
  text-decoration: none;
}

.node-34 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 8.828452110290527px; */
  /* padding: 4%; */
  flex-grow: 0;
  flex-shrink: 1;
  background-color: rgba(22, 171, 228, 1);
  border-radius: 88.28451538085938px;
  width: 240px;
  height: 51px;
}

.pie-fe-pagina-31 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

@media (min-width: 576px) {
  .pie-de-pagina-1 {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 40px;
    padding: 5%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;
    left: 15%;
    /* @media (max-width: 1440px) {
      .pie-de-pagina-1 {
        padding-left: 24px;
        padding-right: 24px;
      }
    } */
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@media (min-width: 768px) {
  .pie-de-pagina-1 {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 40px;
    padding: 5%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;
    left: 15%;
    /* @media (max-width: 1440px) {
      .pie-de-pagina-1 {
        padding-left: 24px;
        padding-right: 24px;
      }
    } */
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@media (min-width: 992px) {
  .pie-de-pagina-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 40px;
    padding: 5% 5% 0 5%;
    left: 0;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 90%;
    /* @media (max-width: 1440px) {
      .pie-de-pagina-1 {
        padding-left: 24px;
        padding-right: 24px;
      }
    } */
    animation-timeline: view();
    animation-range-start: 10px;
    animation-range-end: 500px;
  }
}

@keyframes fade-in {
  from {
    scale: 90%;
    opacity: 0;
  }
  to {
    scale: 100%;
    opacity: 1;
  }
}

/* .pie-de-pagina-1 {
  @media (max-width: 768px) {
    .pie-de-pagina-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
} */

@media (min-width: 768px) {
  #nombreCompleto {
  border-radius: 88.28px;
  width: 600px;
  height: 70px;
  margin: 2px;
}
}

@media (min-width: 992px) {
  #nombreCompleto {
  border-radius: 88.28px;
  width: 400px;
  height: 50px;
  margin: 2px;
}
}

@media (min-width: 768px) {
  #telefono {
  border-radius: 88.28px;
  width: 300px;
  height: 70px;
  margin: 2px;
}
}

@media (min-width: 992px) {
  #telefono {
  border-radius: 88.28px;
  width: 195px;
  height: 50px;
  margin: 2px;
}
}

@media (min-width: 768px) {
  #correoElectronico {
  border-radius: 88.28px;
  width: 300px;
  height: 70px;
  margin: 2px;
}
}

@media (min-width: 992px) {
  #correoElectronico {
  border-radius: 88.28px;
  width: 195px;
  height: 50px;
  margin: 2px;
}
}

@media (min-width: 768px) {
  #mensaje {
  /* width: 517px;
  height: 154px; */
  border-radius: 25px;
  width: 500px;
  height: 151px;
  margin: 2px;
  /* padding: 1%;
  margin: 2%; */
}
}

@media (min-width: 992px) {
  #mensaje {
  /* width: 517px;
  height: 154px; */
  border-radius: 25px;
  width: 400px;
  height: 151px;
  margin: 2px;
  /* padding: 1%;
  margin: 2%; */
}
}

/* #cotizaciones {
  text-align: center;
  overflow: visible;
} */

.pie-de-pagina-1 .navbar {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background-color: #ffffff;
  border-radius: 100px;
  border: 1px solid !important;
  border-color: #ffffff14 !important;
}

.pie-de-pagina-1 .frame-wrapper {
  position: relative;
  width: 96px;
  height: 40px;
  background-color: #21afe5;
  border-radius: 100px;
  border: 1px solid;
  border-color: #ffffff14;
  align-items: center;
  float: inline-start;
}

.pie-de-pagina-1 .frame {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.pie-de-pagina-1 .icon-line-home-alt {
  position: relative;
  width: 20px;
  height: 20px;
}

.pie-de-pagina-1 .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Helvetica-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 17.6px;
  white-space: nowrap;
}

.pie-de-pagina-1 .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Helvetica-Light", Helvetica;
  font-weight: 400;
  color: #35363d;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 17.6px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .pie-de-pagina-1 .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .pie-de-pagina-1 .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #mapa {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: 992px) {
  #mapa {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  #mapa .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 992px) {
  #mapa .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
  }
}
